# Get `enron` email dataset

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
response = requests.get('http://www.enron-mail.com/email/skilling-j/inbox/')

In [3]:
soup = BeautifulSoup(response.content)

In [4]:
links_div = soup.body.find_all('div')[1]
#links_div

In [5]:
soup_links = links_div.find_all('a')[:100]
#soup_links

In [6]:
links = ['http://www.enron-mail.com/email/skilling-j/inbox/'+item['href'] for item in soup_links]
#links

In [7]:
def get_full_email(url):
    resp = requests.get(url)
    soup2 = BeautifulSoup(resp.content)
    headers = soup2.find_all('table')[1].find_all('td',{'class':'header'})
    concat = " ".join([item.text for item in headers])
    body = soup2.find_all('table')[1].find_all('div',{'class':'ebody'})[0].text
    message = concat + " body: " + body
    return message

In [8]:
all_messages = [get_full_email(link) for link in links]

In [9]:
enron = pd.DataFrame(all_messages,columns=['raw message'])
enron

                                          raw message
0   From: 40enron@enron.com To:  Subject: 2001 Cha...
1   From: chairman.office@enron.com To:  Subject: ...
2   From: 40enron@enron.com To:  Subject: 2001 Tex...
3   From: kim.clark@enron.com To: croozin@wireweb....
4   From: forster@enron.com To: jeff.skilling@enro...
..                                                ...
95  From: clay@dfj.com To: lou.pai@enron.com Subje...
96  From: sdsl768k@yahoo.com To: jskilli@enron.com...
97  From: mrudula.gadade@enron.com To: kenneth.lay...
98  From: hemery@firstunion1.com To:  Subject: Dai...
99  From: no.address@enron.com To:  Subject: Daily...

[100 rows x 1 columns]

In [10]:
enron.to_csv('enron.csv', index=False)

# References/Acknowledgments

Thank you, David Henriques for this dataset example.